*{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(220, 227, 233);
    box-sizing: border-box;
    margin: 5px;
}
:root{
    --color:rgb(168, 193, 214);
}
body{
  text-align: center;
  font-weight: bold;
}
label{
  font-size: 1.5em;
}
input{
  width: 100px;
  text-align: center;
  font-size: 1.5em;
}
button{
  padding: 10px 15px;
  margin-left: 10px;
  border-radius: 10%;
  background-color: rgb(50, 177, 228);
  border: none;
  color: white;
}
button:hover{
  background-color: rgb(90, 188, 227);
}

#dice_images img{
  margin: 10px;
  height: 100px;
  border-radius: 10px;
}

#balance{
  position: absolute;
  border: 1px solid black;
   padding: 5px 40px;
}